@import "tailwindcss";

@font-face {
    font-family: 'Instrument Sans';
    src: url('../fonts/instrument-sans/InstrumentSans-VariableFont_wdth,wght.woff2') format('woff2'),
         url('../fonts/instrument-sans/InstrumentSans-VariableFont_wdth,wght.woff') format('woff');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Instrument Sans';
    src: url('../fonts/instrument-sans/InstrumentSans-Italic-VariableFont_wdth,wght.woff2') format('woff2'),
         url('../fonts/instrument-sans/InstrumentSans-Italic-VariableFont_wdth,wght.woff') format('woff');
    font-weight: 100 900;
    font-style: italic;
    font-display: swap;
}
@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif;
    --color-theme-50: oklch(97.5% 0.02 260);
    --color-theme-100: oklch(94.5% 0.04 258);
    --color-theme-200: oklch(88.5% 0.08 256);
    --color-theme-300: oklch(80.5% 0.13 254);
    --color-theme-400: oklch(71.5% 0.18 252);
    --color-theme-500: oklch(63.5% 0.22 250);
    --color-theme-600: oklch(57.5% 0.24 248);
    --color-theme-700: oklch(50.5% 0.21 246);
    --color-theme-800: oklch(44.5% 0.18 244);
    --color-theme-900: oklch(39.5% 0.15 242);
    --color-theme-950: oklch(27.5% 0.1 240);
}
*::selection {
  @apply bg-theme-500 text-white;
}

body {
    font-family: var(--font-sans);
}
.container {
  @apply mx-auto w-full max-w-350 px-5;
}
.input-field {
  @apply w-full select-none text-sm px-3 border-2 border-gray-300 py-2 outline-0 focus:border-theme-500 focus:text-theme-500 focus:bg-theme-50 focus:ring-2 focus:ring-theme-300 focus:ring-offset-1 font-semibold inline-flex items-center justify-center rounded disabled:bg-gray-200 disabled:text-gray-400 disabled:cursor-not-allowed disabled:select-none transition-colors duration-200;;
}
.button-primary {
  @apply select-none text-sm px-5 py-2 outline-0 font-semibold inline-flex items-center justify-center rounded cursor-pointer transition-colors duration-200
  text-white bg-theme-500 hover:bg-theme-600 focus:ring-2 focus:ring-theme-300 focus:ring-offset-1
  disabled:bg-gray-200 disabled:text-gray-400 disabled:cursor-not-allowed disabled:select-none;
}

.button-outline-primary {
  @apply select-none text-sm px-5 py-2 outline-0 font-semibold inline-flex items-center justify-center rounded cursor-pointer transition-colors duration-200
  text-theme-500 border-2 border-theme-500 bg-transparent hover:bg-theme-500 hover:text-white
  focus:ring-2 focus:ring-theme-300 focus:ring-offset-1
  disabled:border-gray-200 disabled:text-gray-400 disabled:bg-transparent disabled:cursor-not-allowed disabled:select-none;
}
.text-gradient {
  @apply bg-linear-to-r from-blue-500 to-purple-600 bg-clip-text text-transparent;
}

.text-link{
    @apply text-theme-500 hover:bg-linear-to-r hover:from-blue-500 hover:to-purple-600 hover:bg-clip-text hover:text-transparent hover:underline;
}
.footer-page-link {
  @apply inline-flex items-center rounded-lg bg-linear-to-r from-blue-500 to-purple-600 px-4 py-2 text-sm font-medium text-white shadow-md transition-all duration-300 ease-out hover:-translate-y-0.5 hover:from-blue-600 hover:to-purple-700 hover:shadow-xl focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-offset-2 active:translate-y-0 active:scale-95;
}


/* primary header */
.main-header{
  box-shadow: 0 0 20px -10px #272727;
}

/* primary header */
.menu-wrapper {
    position: relative;
}

#menu-primacy-and-secondary {
    list-style: none;
    position: relative;
}

#menu-primacy-and-secondary li {
    position: relative;
    z-index: 2;
}
#menu-primacy-and-secondary li.current-menu-item {
    background: linear-gradient(45deg ,var(--color-theme-500), var(--color-purple-500));
    border-radius: 999px;
}
#menu-primacy-and-secondary li a {
    display: block;
    padding: 10px 22px;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.115rem;
    transition: color .3s;
}

.menu-indicator {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 0;
    border-radius: 999px;
    background: linear-gradient(45deg ,var(--color-theme-500), var(--color-purple-500));
    transition:
        left .5s cubic-bezier(.23,1,.32,1),
        width .5s cubic-bezier(.23,1,.32,1);
    z-index: 1;
}

#menu-primacy-and-secondary li:hover a,
#menu-primacy-and-secondary .current-menu-item a,
#menu-primacy-and-secondary .current_page_item a {
    color: #fff;
}